.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    padding: 20px;
    width: 80%;
    margin: auto;
}

header h1 {
    font-size: 48px;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 20px;
}

main {
    margin-top: 50px;
}

body{
    margin: 0;
}

.seperate_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.seperate_cards img {
    width: 120px;
    height: 120px;
}

.grass {
    background-color: rgb(27, 209, 27);
}

.fire {
    background-color: red;
}

.water {
    background-color: rgb(44, 133, 216);
}

.bug {
    background-color: rgb(81, 104, 27);
}

.normal {
    background-color: rgb(229, 229, 170);
}

.poison {
    background-color: blueviolet;
}

.electric {
    background-color: yellow;
}

.ground {
    background-color: rgb(161, 101, 21);
}

.fairy {
    background-color: pink;
}

.rock  {
    background-color: gray;
}

.psychic {
    background-color: rgb(233, 132, 202);
}

.fighting {
    background-color: rgb(165, 61, 42);
}

.ghost {
    background-color: purple;
}

.ice {
    background-color: aqua;
}

.dragon {
    background-color: rgb(119, 0, 255);
}

.dark {
    background-color: rgb(31, 31, 31);
    color: white;
}

.steel {
    background-color: rgb(189, 189, 189);
}

.flying {
    background-color: rgb(166, 212, 230);
}
.seperate_cards * {
    margin: 5px;
}

.pokemon_name {
    margin-top: 20px;
}

.favourite_pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favourite_pokemon h2 {
    font-size: 72px;
}

.favourite_pokemon img {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-color: red;
    animation: colorChange 10s infinite ;
}

@keyframes colorChange {
    0% {
        background-color: #ff0008;
    }
    10% {
        background-color: #ffee00;
    }
    20% {
        background-color: #2bff00;
    }
    30% {
        background-color: #00ffee;
    }
    40% {
        background-color: #0400ff;
    }
    50% {
        background-color: #ff00ff;
    }
    60% {
        background-color: #0400ff;
    }
    70% {
        background-color: #00ffee;
    }
    80% {
        background-color: #2bff00;
    }
    90% {
        background-color: #ffee00;
    }
    100% {
        background-color: #ff0000;
    }
}