<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('tracks_page') }}">Tracks</a>
    </nav>
    <h1>All tracks</h1>
    <p>We love tracks, just like you!<br> 
So here are some of our favourites!</p>
    <ol> 
    {% for track in tracks %} 
        <li>
        {{ track.name }} - {{ track.length }} km
        {% for i in range(track.stars) %}★{% endfor %} 
        {% if track.grade == "Hard" %}
            <strong>(challenging)</strong>
        {% endif %}
        </li> 
    {% endfor %} 
    </ol> 
</body>
</html>