{% extends "base.html" %}

{% block title %}Corban's Forum About One Piece{% endblock %}

{% block content %}

<h2>This is a forum about One Piece.</h2>

<section class="new-post">
    <h2>Write a post:</h2>
    <form action="/post" method="POST"> 
        <label for="author">Your Name</label>
        <input type="text" id="author" name="author" maxlength="30" required>

        <label for="message">Your Post</label>
        <textarea id="message" name="message" rows="4"
                maxlength="500" required></textarea>

        <button type="submit">Post It</button>
    </form> 
</section>

{% if posts|length == 1%}
    <h4>-- {{ posts|length }} post</h4>
{% else %}
    <h4>-- {{ posts|length }} posts</h4>
{% endif %}

{% for post in posts %}
    <article class="post">
        <h2>{{ loop.index }}.</h2>
        <h3>{{ post.author }}</h3>
        <p>{{ post.message }}</p>
    </article>
{% else %}
    <p class="empty">No posts yet. Be the first!</p>
{% endfor %}

{% endblock %}